body, html {
    margin:0;
    padding:0;
    background-color:azure;
}
#divContainer {
    max-width:755px;
    height: 933px;
    background: url("../images/r1p_FormBG.png") no-repeat center top scroll;
    background-size: contain;
}
.nav {
    margin:0;
    padding:0;
    background-color:lavender;
}
ul li {
    margin:0;
    padding:0;
}
.progressText {
    color:gainsboro;
    font-weight:bold;
}
.cancelBtn {
       margin-top:5px !important;
}
.error{
	color:red;
}
.button-khatma{
    color:#c6a119;
    border: 2px solid #c6a119;
    margin-bottom:5px;
}
.button-khatm2{
    color:brown;
    border: 2px solid brown;
    margin-bottom:5px;
}
.button-khatm5{
    color:deeppink;
    border: 2px solid deeppink;
    margin-bottom:5px;
}
.progress-K1{
    background-color:#c6a119;
}
.progress-K2{
    background-color:brown;
}
.progress-K5{
    background-color: deeppink;
}
@media screen and (max-width: 500px) {
       .btn-responsive {
          font-size:20px;
          margin-right:1px;
       }
          .captchaStyle {
                margin-left:0px;
                transform:scale(0.77);
                -webkit-transform:scale(0.77);
                transform-origin:0 0;
                -webkit-transform-origin:0 0;}
}
