<main ng-controller="NewController">
    <div class="row row-content">
        <!---->
        <!--NEW CODE GENERATIUON FORM-->
        <!---->
        <form class="form-horizontal" role="form" name="generateRecitalForm" ng-submit="RecitalGeneration()" novalidate>
                <div class="col-xs-12">
                    <div class="col-xs-12 col-sm-10 enterRecitalText">
                        <h1>Generate New Recital Code</h1>
                        <h4>Select the number of pages to serve on every READ press</h4>
                        <h4>Select to read "alfatiha" as a first page on every READ press</h4>
                        <h4>Enter your email twice to confirm, we will email your code to you</h4>
                        <h4>we do not store your email</h4>
                        <h3>then</h3>
                        <h4> Submit to  generate a new recital code</h4>
                        <br /><br />
                    </div>
                    <div class="form-group">
                        <label for="pages" class="col-sm-offset-1 col-sm-2 control-label" style="color:dimgray">Number of Pages</label>
                        <div class="col-sm-3" id="pagesDiv">
                            <label class="radio-inline">
                                <input type="radio" id="pages1" name="pages" value="1" checked="checked" ng-model="newCodeData.pages"> 1
                            </label>
                            <label class="radio-inline">
                                <input type="radio" id="pages2" name="pages" value="2" ng-model="newCodeData.pages"> 2
                            </label>
                            <label class="radio-inline">
                                <input type="radio" id="pages5" name="pages" value="5" ng-model="newCodeData.pages"> 5
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-offset-1 col-sm-2 control-label" style="color:dimgray">Read Al-Fatiha</label>
                        <div class="col-sm-3">
                            <div class="btn-group">
                                <label class="btn btn-success">
                                    <input type="radio" name="fatiha" value="true" id="fatiha-yes" ng-model="newCodeData.fatiha"> Yes
                                </label>
                                <label class="btn btn-danger">
                                    <input type="radio" name="fatiha" value="false" id="fatiha-no" ng-model="newCodeData.fatiha"> No
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group has-feedback" ng-class="{'has-error': generateRecitalForm.emailid.$invalid && !generateRecitalForm.emailid.$pristine}">
                        <div class="col-sm-offset-1 col-sm-10">
                            <input type="email" class="form-control" id="emailid" name="emailid" placeholder="Email id *" ng-model="newCodeData.emailid" required>
                            <i class="glyphicon glyphicon-envelope form-control-feedback"></i>
                            <span ng-show="generateRecitalForm.emailid.$invalid && !generateRecitalForm.emailid.$pristine" class="help=block error">Your email ID is not valid!</span>
                            <span ng-show="generateRecitalForm.emailid.$error.required && !generateRecitalForm.emailid.$pristine" class="help=block error">Your email ID is missing!</span>
                        </div>
                    </div>
                    <div class="form-group has-feedback" ng-class="{'has-error': generateRecitalForm.emailidconfirm.$invalid && !generateRecitalForm.emailidconfirm.$pristine
                                                                        || generateRecitalForm.emailidconfirm.$error.match}">
                        <div class="col-sm-offset-1 col-sm-10">
                            <input type="email" class="form-control" id="emailidconfirm" name="emailidconfirm" placeholder="Confirm Email id *"
                                   ng-model="newCodeData.emailidconfirm" match="newCodeData.emailid" required>
                            <i class="glyphicon glyphicon-envelope form-control-feedback"></i>
                            <span ng-show="generateRecitalForm.emailidconfirm.$invalid && !generateRecitalForm.emailidconfirm.$pristine" class="help=block error">Your Confirmation email ID is not valid!</span>
                            <span ng-show="generateRecitalForm.emailidconfirm.$error.required && !generateRecitalForm.emailidconfirm.$pristine" class="help=block error">Your Confirmation email ID is missing!</span>
                            <span ng-show="generateRecitalForm.emailidconfirm.$error.match && !generateRecitalForm.emailidconfirm.$pristine" class="help=block error">Your Confirmation email ID is incorrect!</span>
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <div class="col-sm-offset-1 col-sm-10">
                            <i class="glyphicon glyphicon-lock form-control-feedback"></i>
                            <input type="text" class="form-control" ng-disabled="true" id="generatedCode" name="generatedCode" placeholder="Generated Recital Code*" ng-model="newCodeData.generatedCode">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-offset-5 col-xs-6 col-sm-offset-7 col-sm-4">
                            <button type="submit" class="btn btn-default btn-sm btn-block btn-send" ng-disabled="generateRecitalForm.$invalid">Generate</button>
                        </div>
                        <div class="col-xs-offset-5 col-xs-6 col-sm-offset-7 col-sm-4">
                            <button type="button" class="btn btn-default btn-sm btn-block cancelBtn" ng-click="cancelRecitalGeneration()">Cancel</button>
                        </div>
                    </div>
                    <div class="col-sm-offset-5 col-sm-1" ng-show="showSpinner">
                        <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                        <span class="sr-only">Loading...</span>
                    </div>
                    <div class="col-xs-12 col-sm-push-1 col-sm-9">
                        <div class="alert alert-danger alert-dismissible fade in col-sm-offset-2 popAlerts" id="errorAlert" role="alert" ng-show="errorMessageToggle">
                            <strong>ERROR: </strong> {{errorMessage}}
                        </div>
                        <br /><br />
                    </div>
                </div>
        </form>
    </div>
</main>